/* ================ ulti =============== */
.letter-spc-1 {
  letter-spacing: 1px;
}

.spacer {
  border: 1px solid #0d6efd;
  width: 100px;
}

.g-title {
  font-size: 2.6rem;
}

.mt-8 {
  margin-top: 80px;
}

.mt-minus-5 {
  margin-top: -55px;
}

.vh-7 {
  height: 70vh;
}

.py-7 {
  padding: 70px 0;
}

.pt-7 {
  padding-top: 70px;
}

.pt-20 {
  padding-top: 200px;
}

/* ================ Header =============== */
.twitter,
.fb,
.ig,
.lk,
.ph,
.mail {
  font-size: 18px;
  border: 2px solid white;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

/* ================ Nav =============== */
.normal-nav {
  z-index: 1000;
  position: absolute;
}

.site-nav {
  position: fixed;
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.nav-list li a {
  position: relative;
}

.nav-list li a:before {
  content: "";
  width: 0px;
  height: 3px;
  background: #0d6efd;
  position: absolute;
  transition: 0.5s;
  top: 100%;
  left: 1;
}

.nav-list li:hover a:before {
  width: 90%;
}

.navbar-toggler:focus {
  color: white;
}

.nav-active {
  border-bottom: 3px solid #0d6efd;
}

/* ================ Hero =============== */
.hero {
  background-image: url("../img/hero-bg-2.png");
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-status h1 {
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 50px;
}

.h-80 {
  height: 90vh;
}

.btn-explore,
.btn-contact {
  border-radius: 35px;
  padding: 15px 35px;
}

.hero img {
  width: 450px;
}

.scroll-to-next {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

.scroll-to-next img {
  width: 20px;
}

.scroll-to-next i {
  font-size: 22px;
  font-weight: light;
}
/* ================ About =============== */
.about {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-img-1 {
  max-width: 85%;
}

.about-img-2 {
  max-width: 45%;
  height: auto;
  margin-top: 75px;
}

.about-card,
.feature-card {
  border: 0px;
  transition: 0.5s;
}

.about-card:hover {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 9px 0px rgba(255, 0, 0, 1);
  transition: all 0.6s ease;
}

.about-card-icon {
  font-size: 55px;
  color: #ff0000;
}

/* ================ Our Partner =============== */
.partner {
  background-image: url("../img/partner-bg.png");
  height: 90vh;
  background-size: cover;
  background-position: center;
}
.partner,
.make-brand {
  padding: 75px 0;
}

/* ================ Make your brand =============== */
.make-brand {
  padding-bottom: 0px;
}

.make-img-1 {
  height: 80%;
}

.btn-read {
  padding: 13px 28px;
  border-radius: 35px;
}

/* ================ Our Feature =============== */
.feature-img {
  width: 55px;
  height: auto;
}

.feature-img-ph {
  max-width: 65%;
}

.feature {
  padding-bottom: 50px;
}

/* ================ Portfolio =============== */
.portfolio,
.contact {
  background-image: url("../img/portfolio-bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.portfolio-img {
  border-radius: 7px;
}

/* ================ Team =============== */
.team-ceo {
  height: 90%;
}

.team-member {
  margin-top: 60px;
}

/* ================ Contact =============== */
.contact {
  background-image: url("../img/contact-bg.png");
  height: 90vh;
}

.icon a {
  text-decoration: none !important;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon a i {
  font-size: 25px;
  color: black;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [771px -> 1200px]*/
  .hero {
    height: 80vh;
  }

  .h-80 {
    height: 80vh;
  }

  .about {
    padding-top: 30px;
  }

  .about-img-1 {
    max-width: 100%;
  }

  .partner {
    max-height: 75vh;
  }

  .make-brand {
    padding: 85px 0;
  }

  .make-img-1 {
    height: 95%;
  }

  .mt-minus-5 {
    margin-top: 30px;
  }

  .feature {
    padding-top: 25px;
  }

  .feature-img-ph {
    max-width: 75%;
  }

  .portfolio {
    padding-top: 85px;
    height: 85vh;
  }

  .team-ceo {
    height: auto;
  }

  .team-member {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 770px) {
  /*Tablets [601px -> 1200px]*/
  .hero {
    height: 60vh;
    background-position: center;
  }

  .h-80 {
    height: 60vh;
  }

  .hero-status h1 {
    font-size: 33px;
  }

  .hero-status p {
    font-size: 14px;
  }

  .hero img {
    width: 415px;
  }

  .btn-explore,
  .btn-contact,
  .btn-read {
    padding: 7px 15px;
    font-size: 14px;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-list li:hover a:before {
    width: 35px;
  }

  .nav-list li a {
    padding-left: 25px !important;
    border-radius: 5px;
  }

  .nav-active {
    color: white !important;
    background-color: #0d6efd;
  }

  .normal-nav {
    background-color: #ffffffee !important;
    backdrop-filter: blur(5px);
  }

  .about {
    padding-top: 0px;
  }

  .about-row {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }

  .about-row p,
  .about-card p {
    font-size: 14px;
  }

  .about-img-1 {
    max-width: 100%;
  }

  .about-card h4 {
    font-size: 22px;
  }

  .partner {
    height: 58vh;
  }

  .pt-20 {
    padding-top: 0px;
  }

  .make-brand {
    padding: 75px 0;
  }

  .make-brand p {
    font-size: 14px;
  }

  .make-img-1 {
    height: auto;
  }

  .mt-minus-5 {
    margin-top: 55px;
  }

  .feature {
    padding-top: 100px;
  }

  /* .feature-img-display {
    display: none !important;
  } */

  .portfolio {
    height: 52vh;
  }

  .team-ceo {
    height: auto;
  }

  .team-ceo-status {
    padding-left: 7px;
  }

  .team-member {
    margin-top: 85px;
  }

  .contact {
    height: 60vh;
  }

  .vh-7 {
    height: 45vh;
  }

  .btn-contact {
    padding: 12px 22px;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [376px -> 425px]*/
  .logo {
    font-size: 38px !important;
  }

  .menu-icon {
    font-size: 30px;
  }

  .hero {
    height: 100vh;
    background-position: left;
  }

  .h-80 {
    height: 100vh;
  }

  .hero-status p {
    font-size: 16px;
  }

  .hero-status h1 {
    font-size: 38px;
  }

  .btn-explore {
    padding: 10px 22px;
    font-size: 16px;
    font-weight: bolder;
  }

  .g-title {
    font-size: 2.1rem;
  }

  /* .about {
    margin-top: 60px;
  } */

  .about-row h2,
  .make-text h2,
  .team-ceo-status h2 {
    font-size: 1.7rem;
  }

  .about-row p,
  .make-text p,
  .team-ceo-status p {
    font-size: 17px;
  }

  .about-img-2 {
    max-width: 100%;
  }

  .partner {
    height: 75vh;
  }

  .make-brand {
    margin-top: 80px;
  }

  .make-img-1 {
    height: 80%;
  }

  .make-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -45px;
  }

  .btn-read {
    padding: 10px 22px;
    font-size: 16px;
    font-weight: bold;
  }

  .mt-minus-5 {
    margin-top: 115px;
  }

  .feature {
    padding-top: 0px;
    margin-top: -30px;
  }

  .portfolio {
    height: 92vh;
  }

  .contact {
    height: 75vh;
  }
  .vh-7 {
    height: 52vh;
  }
}

@media only screen and (max-width: 375px) {
  /*Big smartphones [325px -> 375px]*/
  .g-title {
    font-size: 1.9rem;
  }

  .hero {
    height: 100vh;
  }

  .h-80 {
    height: 100vh;
  }

  .about {
    padding-top: 35px;
  }

  .partner {
    margin-bottom: 150px;
  }

  .team {
    padding-top: 110px;
  }

  .contact {
    height: 80vh;
  }

  .vh-7 {
    height: 55vh;
  }
}
